<section id="title-page">
	<div class="container-fluid">
		{% if breadcrumb %}
			<ul class="breadcrumb">
				{% for item in breadcrumb %}
					<li class="c-breadcrumbs__item">
						{% if item.url %}
							<a href="{{ item.url }}" class="c-breadcrumbs__link">{{ item.text }}</a>
						{% else %}
							<span class="c-breadcrumb__label">{{ item.text }}</span>
						{% endif %}
					</li>
				{% endfor %}
			</ul>
		{% endif %}
	</div>
</section>
