{% set classes = [
  'view',
  'view-' ~ id|clean_class,
  'view-id-' ~ id,
  'view-display-id-' ~ display_id,
  dom_id ? 'js-view-dom-id-' ~ dom_id,
] %}
<div{{attributes.addClass(classes)}}>
	{% if header is not empty %}
		<section class="countries_topbar">
			<div class="c-page-header__content-container o-container">
				<div class="c-page-countries_topbar__inner">
          <h1 class="c-page-header__title">
            <span class="field field--name-title field--type-string field--label-hidden">{{ header }}</span>
          </h1>
				</div>
			</div>
		</section>
	{% endif %}
	<div>
		{% if rows %}
			{% include 'themes/custom/greenhydrogen/templates/node-partials/countries-leeflet-template.html.twig' with { rows: rows} %}
		{% endif %}
	</div>
		{% if footer %}
    <section class="o-section o-section--text-block c-text-block">
			<div class="o-container">
				<div class="c-text-block__content country-text-block o-content-from-editor">
          {{ footer }}
				</div>
			</div>
			</section>
		{% endif %}
</div>
