{#
/**
 * @file
 * Theme override for a views exposed form.
 */
#}

{% if q is not empty %}
  {{ q }}
{% endif %}

<div class="views-exposed-form">
  {% if form.sort_order %}
      <div class="views-exposed-widget">
        {{ form.sort_order }}
      </div>
  {% endif %}
  {{ form.submit }}

</div>

<script>
document
  .querySelector('#edit-sort-order')
  .addEventListener('change', function(e) {
    e.preventDefault();
    const form = this.closest('form');
    if (form) {
      form.submit();
    }
  });

</script>