<div class="formations-populaires">
  {% if content.field_formations_populaires %}
    {% for item in content.field_formations_populaires %}
      <div class="formation-item">
        <h3>{{ item.entity.label }}</h3>
      </div>
    {% endfor %}
  {% else %}
    <p>No popular formations found.</p>
  {% endif %}
</div>