{# 
  Custom template for the Home Page node.
  Available variables include:
  - label: The node title.
  - content: The main content array.
  - node: The full node object.
#}
<article{{ attributes }}>
  <header>
    {# <h1>{{ label }}</h1> #}
  </header>
</article>
