{% set search_name = 'keywords' %}
<div class="c-header-search js-search-form" role="dialog" aria-labelledby="header-search-label">
  <div class="c-header-search__container o-container">
    <div class="c-header-search__inner">
      <p class="u-accessible-hide" id="header-search-label">Search the site</p>

      <form class="c-header-search__form" action="/search" method="get" role="search" aria-label="Sitewide search">
        <input class="c-header-search__keyword-input js-search-field"
               title="{{ 'Enter the terms you wish to search for.'|trans }}"
               placeholder="Search term"
               type="search"
               name="{{ search_name }}" value="" size="15" maxlength="128"
        />

        <button class="c-header-search__submit-button" title="{{ 'Search all content'|trans }}" type="submit"
                value="">
          <span class="u-accessible-hide">Search</span>
          {% include '@' ~ get_theme() ~ '/svg/svg.html.twig' with {'svg': 'search-icon'} %}
        </button>
      </form>

      <button class="c-header-search__close js-search-close" aria-label="Close search box">
        {% include '@greenhydrogen/svg/svg.html.twig' with {'svg': 'close-icon','extra_class': 'c-header-search__close-icon'} %}
      </button>
    </div>
  </div>
</div>
