<!-- Inline style, database may not be available, page must be standalone -->
<style type="text/css">
  .maintenance-page{
    background-color: #f9f9f9;
  }
  .c-maintenance__wrapper {
    align-items     : center;
    display         : flex;
    height          : 100vh;
    justify-content : center;
  }
  .c-maintenance {
    max-width : 800px;
    border: 3px solid #154734;
  }
  @media screen and (min-height : 800px) {
    .c-maintenance {
      margin-bottom : 200px;
    }
  }
  .c-maintenance__top {
    text-align: center;
  }

  .c-maintenance__content {
    flex-grow : 1;
    padding   : 8px;
  }
  @media screen and (max-width : 540px) {
    .c-maintenance__content {
      padding : 16px;
    }
  }
  .c-maintenance__logo-wrapper {
    align-items    : center;
    display        : flex;
    flex-direction : column;
    flex-grow      : 0;
    flex-shrink    : 0;
  }

  .c-maintenance__logo {
    display    : block;
    height : 125px;
    width  : 293px;
  }
  .c-maintenance__logo-fill {
    background-color : #154734;
    flex-grow        : 1;
    margin-top       : -1px;
    width            : 100%;
  }
  @media screen and (max-width : 540px) {
    .c-maintenance__logo-fill {
      height      : 58px;
      margin-left : -1px;
    }
    .c-maintenance__logo-fill--first {
      flex-grow : 0;
      width     : 0;
    }
  }
  .c-maintenance__title-wrapper {
    /*align-items : center;*/
    /*display     : flex;*/
  }
  .c-maintenance__title {
    color       : #154734;
    font-family : 'Barlow', sans-serif;
    font-weight : 700;
    font-size   : 24px;
    line-height : 36px;
    padding     : 8px 16px;
  }
  @media screen and (max-width : 540px) {
    .c-maintenance__title {
      font-size   : 18px;
      line-height : 24px;
    }
  }
  .c-maintenance__bottom {
    display    : flex;
    margin-top : 24px;
    max-width  : 800px;
  }
  .c-maintenance-message {
    color       : #154734;
    font-family : 'Barlow', sans-serif;
    font-weight : 400;
    font-size   : 16px;
    line-height : 20px;
    padding     : 16px;
  }
</style>

{% set title = site_settings.maintenance_page.maintenance_title is defined ? site_settings.maintenance_page.maintenance_title : 'Under maintenance'|t %}
{% set text = site_settings.maintenance_page.maintenance_text is defined ? site_settings.maintenance_page.maintenance_text : 'Our site is under routine maintenance, please check back again shortly.'|t %}

<div class="c-maintenance__wrapper">
  <div class="c-maintenance">

    <div class="c-maintenance__top">
      <div class="c-maintenance__logo-wrapper">
        <img
          class="c-maintenance__logo"
          src="{{ base_path ~ directory }}/assets/img/logo.png"
          alt="{{ 'Logo'|t }}"
        />
      </div>
      <div class="c-maintenance__title-wrapper">
        <h1 class="c-maintenance__title">{{ title }}</h1>
      </div>
    </div>

    <div class="c-maintenance__bottom">
      <div class="c-maintenance-message__wrapper">
        <p class="c-maintenance-message">{{ text }}</p>
      </div>
    </div>

  </div>
</div>

{# SBTODO Set font? #}
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Barlow:400,700"/>
