{% set classes = [
  'c-page-links__block',
  'paragraph',
  'paragraph--type--' ~ paragraph.bundle|clean_class,
  view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
  not paragraph.isPublished() ? 'paragraph--unpublished'
] %}
{% block paragraph %}
  <a {{ attributes.addClass(classes).setAttribute('href', content.field_link[0]['#url']|render) }}>
    <h4>
      <span class="c-page-links__block-title">{{ content.field_title }}</span>
    </h4>

    {% include '@greenhydrogen/svg/svg.html.twig' with {'svg': 'arrow-icon','extra_class': 'c-page-links__block-arrow'} %}
  </a>
{% endblock paragraph %}
