{% set classes = [
  'c-full-width-image',
  'o-section',
  'o-section--full-width-image',
  'paragraph',
  'paragraph--type--' ~ paragraph.bundle|clean_class,
  view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
  not paragraph.isPublished() ? 'paragraph--unpublished'
] %}
{% block paragraph %}
  <section{{ attributes.addClass(classes) }}>
    {{ content.field_image }}

    {% if content.field_caption|render|striptags is not empty %}
      <div class="o-container">
        <div class="c-full-width-image__caption-wrapper">
          <div class="c-full-width-image__caption">
            {{ content.field_caption }}
          </div>
        </div>
      </div>
    {% endif %}
  </section>
{% endblock paragraph %}
