{% set classes = [
  'o-section',
  'o-section--heading',
  'paragraph',
  'paragraph--type--' ~ paragraph.bundle|clean_class,
  view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
  not paragraph.isPublished() ? 'paragraph--unpublished'
] %}
{% block paragraph %}
  <section{{ attributes.addClass(classes) }}>
    <div class="o-container">
      <h3 class="o-heading">
        {{ content.field_title }}
      </h3>
    </div>
  </section>
{% endblock paragraph %}
