{% set classes = [
  'o-section',
  'o-section--text-block',
  'c-text-block',
] %}
{% if content is not empty %}
	<section{{attributes.addClass(classes)}}>
		<div class="c-text-block__container o-container">
			<div class="c-text-block__content country-text-block o-content-from-editor">
				<h3>
					{{ content.field_label }}
				</h3>
				<p>
					{{ content.field_description }}
				</p>
				<p>
					{{ content.field_chart }}
				</p>

			</div>
		</div>
	</section>
{% endif %}
