{% set classes = [
  'o-section',
  'o-section--text-block',
  'c-text-block',
] %}
{% if content is not empty %}
  <section{{ attributes.addClass(classes) }}>
    <div class="c-text-block__container o-container">
      <div class="c-text-block__content country-text-block o-content-from-editor">
        <div id="field-country-quantitative-data-wrapper">
        {% include 'themes/custom/greenhydrogen/templates/node-partials/country-quantitative-data-chart-template.html.twig' with { chart_data: content} %}
        </div>
      </div>
    </div>
  </section>
{% endif %}
