{% set classes = [
  'c-featured-content',
  'o-section',
  'o-section--featured-content',
  'paragraph',
  'paragraph--type--' ~ paragraph.bundle|clean_class,
  view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
  not paragraph.isPublished() ? 'paragraph--unpublished'
] %}
{# SBTODO: Make sure locked items appear when the user is logged out #}
{% block paragraph %}
  <section{{ attributes.addClass(classes) }}>
    <div class="o-container">
      {% if content.field_title|render|striptags is not empty %}
        <h2 class="c-featured-content__heading o-heading">
          {{ content.field_title }}
        </h2>
      {% endif %}

      <div class="c-featured-content__cards">
        {{ content.field_content }}
      </div>
    </div>
  </section>
{% endblock paragraph %}
