{% set classes = [
  'c-page-links',
  'o-section',
  'o-section--page-links',
  'paragraph',
  'paragraph--type--' ~ paragraph.bundle|clean_class,
  view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
  not paragraph.isPublished() ? 'paragraph--unpublished'
] %}

{# Apply a modifier to set the layout. #}
{% if content.field_layout.0['#markup'] is not empty %}
  {% set classes = classes|merge(['c-page-links--'~content.field_layout.0['#markup']|replace({'_':'-'})]) %}
{% endif %}

{% block paragraph %}
  <section{{ attributes.addClass(classes) }}>
    <div class="o-container">
      <h3 class="c-page-links__title o-heading">
        {{ content.field_title }}
      </h3>

      <div class="c-page-links__blocks">
        {{ content.field_page_links }}
      </div>
    </div>
  </section>
{% endblock paragraph %}
