{% set classes = [
  'c-people-block',
  'o-section',
  'o-section--people-block',
  'paragraph',
  'paragraph--type--' ~ paragraph.bundle|clean_class,
  view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
  not paragraph.isPublished() ? 'paragraph--unpublished'
] %}
{% block paragraph %}
  <section{{ attributes.addClass(classes) }}>
    <div class="o-container">
      <h3 class="c-people-block__title o-heading">
        {{ content.field_title }}
      </h3>

      <div class="c-people-block__people">
        {{ content.field_people }}
      </div>
    </div>
  </section>
{% endblock paragraph %}
