{% set classes = [
  'o-section',
  'o-section--text-block',
  'c-text-block',
] %}

{% set rendered = content|render %}
{% if rendered|striptags|trim is not empty %}
  <section{{ attributes.addClass(classes) }}>
    <div class="c-text-block__container o-container">
      <div class="c-text-block__content o-content-from-editor">
        {{ rendered }}
      </div>
    </div>
  </section>
{% endif %}
