{# Template for the "Méthodes d'évaluation" paragraph type #}


{% if paragraph.field_titre_ressources_technique.value %}
	<h4 class="text-blue">
		{{ paragraph.field_titre_ressources_technique.value }}
	</h4>
{% endif %}
{% if paragraph.field_sous_titre_ressources_tech.value %}
	<p class="h2 pt-2 pb-3">{{ paragraph.field_sous_titre_ressources_tech.value }}</p>
{% endif %}
<ul>
	{% for item in paragraph.field_liste_des_points_ressource %}
		<li>
			{{ item.value }}
		</li>
	{% endfor %}
</ul>
