{# Template for the "Méthodes d'évaluation" paragraph type #}

<div class="col-md-3 mb-4">
	<div class="forma-step">
		{% if paragraph.field_picto_objectifs_pro.entity and paragraph.field_picto_objectifs_pro.entity.uri.value %}
			<img src="{{ file_url(paragraph.field_picto_objectifs_pro.entity.uri.value) }}" class="">
		{% endif %}
		<h5>{{ paragraph.field_titre_objectifs_pros.value }}</h5>
		<p>{{ paragraph.field_description_objectifs_pro.value }}</p>
	</div>
</div>
