@mixin o-button($color: $dark-green, $background-color: $mid-grey, $icon: false) {
  @include ts-button;
  align-items      : center;
  background-color : $background-color;
  border           : 1px solid $color;
  border-radius    : 16px;
  box-sizing       : border-box;
  color            : $color;
  cursor           : pointer;
  display          : inline-flex;
  justify-content  : center;
  padding          : 6px 16px;
  text-align       : left;
  transition       : background-color 0.2s, color 0.2s;

  &:hover, &:focus {
    background-color : $color;
    color            : $background-color;
  }

  @if ($icon) {
    height  : 32px;
    padding : 0;
    width   : 32px;
  }
}

.o-button {
  @include o-button;
}

.o-button-download {
  @include o-button($dark-green, $bright-green);
}
