@mixin o-link {
  @include ts-button;
  border-bottom  : 1px solid currentColor;
  color          : inherit;
  display        : inline-block;
  padding-bottom : 2px;
}

.o-link {
  @include o-link;
}
