.o-section {
  margin-top : var(--space-4xl);

  @include media('<tablet') {
    margin-top : var(--space-3xl);
  }

  &:first-of-type {
    margin-top : var(--space-2xl);
  }

  &:not(.o-section--has-background) {
    &:last-of-type {
      margin-bottom : var(--space-4xl);

      @include media('<tablet') {
        margin-bottom : var(--space-3xl);
      }
    }
  }

  &--has-background + &--has-background {
    margin-top : 0;
  }

  &--text-block + &--boxed-content {
    margin-top : var(--space-2xl);
  }

  &--boxed-content + &--text-block {
    margin-top : var(--space-2xl);
  }
}
