.o-svg {
  &--arrow-icon {
    height : 22px;
    width  : 33px;
  }

  &--burger-icon {
    height : 20px;
    width  : 16px;
  }

  &--close-icon {
    height : 17px;
    width  : 17px;
  }

  &--search-icon {
    height : 18px;
    width  : 18px;
  }

  &--lock-icon {
    height : 13px;
    width  : 10px;
  }

  &--plus-icon {
    height : 9px;
    width  : 9px;
  }

  &--minus-icon {
    height : 9px;
    width  : 9px;
  }

  //Pager
  &--chevron {
    height : 14px;
    width  : 9px;
  }

  &--double-chevron {
    height : 14px;
    width  : 13px;
  }

  /* #Social
  ================================================== */
  &--facebook {
    height : 16px;
    width  : 10px;
  }

  &--linkedin {
    height : 14px;
    width  : 16px;
  }

  &--twitter {
    height : 14px;
    width  : 19px;
  }

  &--youtube {
    height : 13px;
    width  : 19px;
  }

  &--logo-with-shapes {
    height : 101px;
    width  : 308px;
  }

  &--logo {
    height : 74px;
    width  : 279px;

    @include media('<desktop') {
      height : 48px;
      width  : 181px;
    }
  }
}
