$black          : #000;
$white          : #fff;

$light-grey     : #f9f9f9;
$mid-grey       : #eeeeee;
$dark-grey      : #dedede;

$blue           : #05caff;
$bright-green   : #00ffb2;
$mid-green      : #00ad7c;
$dark-green     : #154734;

$primary        : $dark-green;
$primary--light : #303046;

