/*
    ===============================
    COMMON CODE
    ===============================
*/
@mixin accessible-hide() {
  height   : 1px;
  left     : -10000px;
  overflow : hidden;
  position : absolute;
  top      : auto;
  width    : 1px;
}

@mixin checkbox-hide {
  border   : 0;
  clip     : rect(0 0 0 0);
  height   : 1px;
  margin   : -1px;
  overflow : hidden;
  padding  : 0;
  position : absolute;
  width    : 1px;
}

// e.g 16:9 would be ratio(9, 16));
@mixin ratio($height, $width) {
  padding-bottom : ($height / $width) * 100;
}

@mixin link($color: $dark-green, $height: 1px, $padding-bottom: 4px) {
  background-image    : linear-gradient($color, $color);
  background-position : 0 100%;
  background-repeat   : no-repeat;
  background-size     : 0 $height;
  padding-bottom      : $padding-bottom;
  transition          : background-size 0.2s;

  @include media("<tablet") {
    transition : none;
  }

  &:hover, &:focus {
    background-size : 100% $height;
  }
}

@mixin link-gradient($height: 3px) {
  background-image    : linear-gradient(currentColor, currentColor), linear-gradient(transparent, transparent);
  background-position : 0 calc(100% - 1px);
  background-size     : 100% 1px, 0 $height;
  background-repeat   : no-repeat;
  transition          : background-size 0.2s;
  padding-bottom      : 4px;

  @include media("<tablet") {
    transition : none;
  }

  &:hover, &:focus {
    background-image    : linear-gradient(transparent, transparent), linear-gradient(to left, $bright-green, $blue);
    background-position : 0 calc(100% - 1px);
    background-size     : 0 1px, 100% $height;
  }
}

/* Z-index management
================================================== */
$z-index : (
  skip-button: 10,
  header: 15,
  sub-menu:20,
  header-search: 25
);

@function z-index($key) {
  @return map-get($z-index, $key);
}

@mixin z-index($key) {
  z-index : z-index($key);
}

// Object-fit polyfill script
@mixin object-fit($fit: fill, $position: null) {
  -o-object-fit : $fit;
  object-fit    : $fit;
  @if $position {
    -o-object-position : $position;
    object-position    : $position;
    font-family        : 'object-fit: #{$fit}; object-position: #{$position}';
  } @else {
    font-family        : 'object-fit: #{$fit}';
  }
}

/*
    ===============================
    TYPOGRAPHY
    ===============================
*/

/* Font families */
@mixin sans {
  font-family : 'Roboto', sans-serif;
}

@mixin sans-secondary {
  font-family : 'Karben105', sans-serif;
}

/* Body text */
@mixin default-list-style {
  ul, ol {
    margin-bottom : 24px;
    padding-left  : 21px;

    li {
      font-weight   : 600;
      margin-bottom : 12px;
    }
  }

  ul {
    list-style-type : disc;

    ul {
      list-style-type : circle;
    }
  }

  ol {
    list-style-type : decimal;

    ol {
      list-style-type : lower-alpha;
    }
  }
}

/*
    ===============================
    MISC
    ===============================
*/
@mixin placeholder($color) {
  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color   : $color;
    opacity : 1;
  }
  &::-moz-placeholder { /* Firefox 19+ */
    color   : $color;
    opacity : 1;
  }
  &:-ms-input-placeholder { /* IE 10+ */
    color   : $color;
    opacity : 1;
  }
  &:-moz-placeholder { /* Firefox 18- */
    color   : $color;
    opacity : 1;
  }
}

@function str-replace($string, $search, $replace: '') {
  $index : str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }

  @return $string;
}
