/* #General body
================================================== */
@mixin ts-body($small : false) {
  @include sans;
  font-size      : 18px;
  font-weight    : 300;
  letter-spacing : 0.2px;
  line-height    : 32px;

  a {
    word-wrap : break-word;
  }

  @if ($small) {
    font-size   : 16px;
    line-height : 30px;
  }
}

/* #Headings
================================================== */
@mixin ts-heading-1 {
  @include sans-secondary;
  font-size   : 90px;
  font-weight : 400;
  line-height : 96px;

  @include media("<tablet") {
    font-size   : 52px;
    line-height : 64px;
  }
}

@mixin ts-heading-2 {
  @include sans-secondary;
  font-size   : 50px;
  font-weight : 700;
  line-height : 64px;

  @include media("<tablet") {
    font-size   : 38px;
    line-height : 48px;
  }
}

@mixin ts-heading-3 {
  @include sans-secondary;
  font-size   : 38px;
  font-weight : 700;
  line-height : 52px;

  @include media("<tablet") {
    font-size   : 32px;
    line-height : 42px;
  }
}

@mixin ts-heading-4 {
  @include sans-secondary;
  font-size   : 28px;
  font-weight : 700;
  line-height : 40px;
}

@mixin ts-heading-5 {
  @include sans-secondary;
  font-size   : 24px;
  font-weight : 700;
  line-height : 32px;
}

@mixin ts-heading-6 {
  @include sans-secondary;
  font-size      : 21px;
  font-weight    : 700;
  letter-spacing : 0.4px;
  line-height    : 28px;
}

@mixin ts-section-heading {
  @include sans;
  font-size      : 21px;
  font-weight    : 500;
  letter-spacing : 0.2px;
  line-height    : 28px;
}

/* Buttons
================================================== */
@mixin ts-button($small : false) {
  @include sans;
  font-size      : 16px;
  font-weight    : 500;
  letter-spacing : 0.2px;
  line-height    : 16px;
}

/* Labels
================================================== */
@mixin ts-meta {
  @include sans;
  font-size   : 16px;
  font-weight : 400;
  line-height : 24px;
}

@mixin ts-meta-medium {
  @include sans;
  font-size   : 16px;
  font-weight : 500;
  line-height : 24px;
}

@mixin ts-label {
  @include sans;
  font-size   : 14px;
  font-weight : 500;
  line-height : 20px;

  @include media("<tablet") {
    font-size   : 12px;
    line-height : 20px;
  }
}

@mixin ts-caption {
  @include sans;
  font-size   : 16px;
  font-weight : 300;
  line-height : 24px;
}

@mixin ts-credit {
  @include sans;
  font-size   : 12px;
  font-weight : 500;
  line-height : 20px;
}

@mixin ts-description($small : false) {
  @include sans;
  font-size      : 22px;
  font-weight    : 300;
  letter-spacing : 0.2px;
  line-height    : 36px;

  @if ($small) {
    font-size   : 16px;
    line-height : 24px;
  }
}

@mixin ts-pagination {
  @include sans;
  font-size   : 14px;
  font-weight : 500;
  line-height : 16px;
}

@mixin ts-credit {
  @include sans;
  font-size   : 12px;
  font-weight : 500;
  line-height : 20px;
}

/* Miscellaneous
================================================== */
@mixin ts-pullquote {
  @include sans;
  font-size   : 28px;
  font-weight : 300;
  line-height : 46px;

  @include media("<tablet") {
    font-size   : 22px;
    line-height : 36px;
  }
}

@mixin ts-pullquote-author {
  @include sans;
  font-size      : 18px;
  font-style     : italic;
  font-weight    : 300;
  letter-spacing : 0.2px;
  line-height    : 32px;

  @include media("<tablet") {
    font-size   : 16px;
    line-height : 26px;
  }
}

@mixin ts-nav-large {
  @include sans;
  font-size   : 18px;
  font-weight : 500;
  line-height : 22px;
}

@mixin ts-nav-small {
  @include sans;
  font-size   : 16px;
  font-weight : 500;
  line-height : 16px;
}

@mixin ts-search-term {
  @include sans;
  font-size   : 28px;
  font-weight : 300;
  line-height : 46px;

  @include media("<tablet") {
    font-size   : 22px;
    line-height : 32px;
  }
}
