{% set classes = [
  'c-media',
  'c-media--' ~ media.bundle()|clean_class,
  view_mode ? 'c-media--' ~ view_mode|clean_class,
] %}
<div{{ attributes.addClass(classes) }}>
  {{ title_suffix.contextual_links }}
  {% if content %}
    {{ content }}
  {% endif %}
</div>
