{% set class = 'c-banner__media-wrapper' %}

{% if media_type =='image' %}
  {% set attributes = attributes.addClass('c-banner__image-wrapper js-banner-image') %}
{% endif %}

{% if media_type =='remote_video' %}
  {% set attributes = attributes.addClass('c-banner__video-wrapper') %}
  {% set attributes = attributes.setAttribute('data-youtube_id', youtube_video_id) %}
{% endif %}

<div {{ attributes }}>
  {% for item in items %}
    {{ item.content }}
  {% endfor %}
</div>
