.c-call-to-action {
  $c         : &;
  background : linear-gradient(180deg, rgba(0, 255, 178, 0.85) 0%, rgba(5, 202, 255, 0.75) 100%);
  color      : $dark-green;
  overflow   : hidden;
  padding    : var(--space-4xl) 0 120px;
  position   : relative;

  @include media('<tablet') {
    padding : var(--space-2xl) 0;
  }


  /* Image
  ================================================== */
  .c-media {
    picture {
      height   : 100%;
      left     : 0;
      position : absolute;
      top      : 0;
      width    : 100%;
    }

    img {
      height          : 100%;
      object-fit      : cover;
      object-position : center center;
      position        : absolute;
      width           : 100%;
    }
  }

  &__overlay {
    background-color : $black;
    height           : 100%;
    left             : 0;
    position         : absolute;
    top              : 0;
    width            : 100%;
  }

  /* Contents
  ================================================== */
  &__container {
    position : relative;
  }

  &__inner {
    @include grid;
    border-top : 1px solid $dark-green;
  }

  &__content-wrapper {
    grid-column : 1 / 7;

    @include media('<desktop') {
      @include full-width-grid;
    }
  }

  &__title {
    @include ts-heading-2;
    margin-top : var(--space-l);

    @include media('<tablet') {
      margin-top : var(--space-xs);
    }
  }

  &__description {
    @include ts-description;
    margin-top : var(--space-m);
  }

  &__links {
    display        : flex;
    flex-direction : column;
    flex-wrap      : wrap;
  }

  &__link-wrapper {
    margin-top : 18px;

    @include media('<tablet') {
      margin-top : var(--space-m);
    }
  }

  &__link {
    @include ts-button;
    background-image    : linear-gradient($dark-green, $dark-green), linear-gradient(transparent, transparent);
    background-position : 0 calc(100% - 1px);
    background-repeat   : no-repeat;
    background-size     : 100% 1px, 0 2px;
    display             : inline-block;
    padding-bottom      : 5px;
    transition          : background-size 0.2s;

    &:hover, &:focus {
      background-image    : linear-gradient(transparent, transparent), linear-gradient(to left, $black, $black);
      background-position : 0 calc(100% - 1px);
      background-size     : 0 1px, 100% 2px;
    }
  }

  /* Modifiers
  ================================================== */
  &--has-image {
    color : $white;

    #{$c}__inner {
      border-top : 1px solid $white;
    }

    #{$c}__link {
      background-image : linear-gradient($white, $white), linear-gradient(transparent, transparent);

      &:hover, &:focus {
        background-image : linear-gradient(transparent, transparent), linear-gradient(to left, $white, $white);
      }
    }

  }

}
