.c-footer {
  background-color : $bright-green;
  color            : $dark-green;
  padding          : var(--space-2xl) 0;

  &__inner {
    display               : grid;
    grid-column-gap       : $gutter;
    grid-template-columns : repeat(2, 1fr);

    @include media('<tablet') {
      display : block;
    }

    &--bottom {
      @include media('>tablet') {
        margin-top : $baseline-spacing * 22;
      }

      @include media('<tablet') {
        display        : flex;
        flex-direction : column-reverse;
      }
    }
  }

  /* Top
  ================================================== */
  &__logo {
    justify-self : left;

    &:focus {
      outline        : dotted 1px $dark-green;
      outline-offset : var(--space-xs);
    }
  }

  &__menu {
    @include ts-nav-large;
    display         : flex;
    justify-content : flex-end;

    @include media('<tablet') {
      justify-content : flex-start;
      margin-top      : var(--space-4xl);
    }
  }

  &__menu-item {
    margin-left : var(--space-xl);

    &:first-child {
      margin-left : 0;
    }

    a {
      @include link($dark-green);
    }
  }

  /* Bottom
  ================================================== */
  &__credit {
    @include ts-credit;

    @include media('<tablet') {
      margin-top : var(--space-xl);
    }

    a {
      @include link($dark-green);
    }
  }

  &__socials {
    display         : flex;
    justify-content : flex-end;

    @include media('<tablet') {
      justify-content : flex-start;
      margin-top      : var(--space-xl);
    }
  }

  &__social-button {
    @include o-button($dark-green, $bright-green, true);
    margin-left : var(--space-xs);

    &:first-child {
      margin-left : 0;
    }

    svg {
      flex-shrink : 0;
    }
  }
}
