.c-full-width-image {
  font-size : 0;
  position  : relative;

  // Image output
  .c-media--browser-width {
    position : relative;

    picture {
      width : 100%;
    }

    img {
      @include object-fit(cover);
      height          : auto;
      max-height      : 480px;
      object-position : center center;
      width           : 100%;
    }
  }

  &__caption-wrapper {
    @include grid;
  }

  // Caption
  &__caption {
    @include ts-caption;
    grid-column : 1 / 9;
    margin-top  : var(--space-m);

    @include media('<desktop') {
      grid-column : 1 / 13;
    }

    @include media('<tablet') {
      grid-column : 1 / 5;
    }

    a {
      text-decoration : underline;
    }
  }

  /* Modifiers
  ================================================== */
  .c-node--type-content-item &__caption {
    grid-column : 3 / 11;

    @include media('<desktop') {
      grid-column : 1 / 13;
    }

    @include media('<tablet') {
      grid-column : 1 / 5;
    }
  }
}
