.c-header-search {
  @include z-index(header-search);
  background-color : $bright-green;
  box-sizing       : border-box;
  color            : $dark-green;
  display          : none;
  height           : 100%;
  left             : 0;
  padding          : var(--space-xl) 0 var(--space-2xl);
  position         : absolute;
  top              : 0;
  width            : 100%;

  @include media('<large-desktop') {
    background-color : transparent;
    color            : $bright-green;
    display          : block;
    padding-top      : var(--space-3xl);
    position         : static;
  }

  &__container {
    height   : 100%;
    position : relative;

    @include media('<large-desktop') {
      width   : 100%;
      padding : 0;
    }
  }

  &__inner {
    @include grid;
    align-items : flex-end;
    height      : 100%;
    position    : relative;

    @include media('<large-desktop') {
      display : block;
    }
  }

  &__form {
    align-items    : center;
    border-bottom  : 1px solid $dark-green;
    display        : flex;
    grid-column    : 1/7;
    padding-bottom : var(--space-xs);

    @include media('<large-desktop') {
      border-bottom-color : $bright-green;
      width               : 100%;
    }
  }

  &__keyword-input {
    @include ts-search-term;
    @include placeholder(currentColor);
    background-color : transparent;
    border           : none;
    box-sizing       : border-box;
    width            : calc(100% - 40px);
    outline          : none;
  }

  &__submit-button {
    @include o-button($color : $dark-green, $background-color : $bright-green, $icon : true);
    border : none;
    width  : 32px;

    @include media('<large-desktop') {
      background-color : $dark-green;
      color            : $bright-green;
      border-color     : $dark-green;

      &:hover, &:focus {
        background-color : $bright-green;
        color            : $dark-green;
      }
    }
  }

  &__close {
    @include o-button($dark-green, $bright-green, true);
    border   : none;
    position : absolute;
    right    : 0;
    top      : 0;

    @include media('<large-desktop') {
      display : none;
    }
  }
}
