.c-header {
  $c               : &;
  @include z-index(header);
  backdrop-filter  : blur(10px); // not working in Firefox
  background-color : rgba($mid-grey, 0.4);
  color            : $dark-green;
  padding          : var(--space-xl) 0 var(--space-l);
  position         : absolute;
  top              : 0;
  transition       : transform 0.2s;
  width            : 100%;

  @include media('<large-desktop') {
    backdrop-filter  : none;
    background-color : $mid-grey;
    padding          : 0;
  }

  &__container {
    @include media('<large-desktop') {
      padding : 0;
    }
  }

  &__logo {
    display   : block;
    font-size : 0;

    @include media('<large-desktop') {
      padding : $gutter--mobile;
    }

    &:focus {
      outline        : dotted 1px $dark-green;
      outline-offset : var(--space-xs);
    }
  }

  &__logo-icon-shapes {
    margin-left : -32px;

    @include media('<large-desktop') {
      display : none;
    }
  }

  &__logo-icon-sticky {
    @include media('>large-desktop') {
      display : none;
    }
  }

  &__inner {
    display         : flex;
    justify-content : space-between;
    width           : 100%;

    @include media('<large-desktop') {
      display : block;
    }
  }

  &__condensed {
    align-items     : center;
    display         : flex;
    justify-content : space-between;
  }

  &__content {
    @include media('<large-desktop') {
      background-color : $dark-green;
      box-sizing       : border-box;
      display          : none;
      height           : 100vh;
      position         : absolute;
      top              : 0;
      width            : 100%;

      &.is-open {
        display : block;
      }

      .ps__thumb-y {
        background-color : $bright-green;
      }
    }

    @include media('>large-desktop') {
      // Ensuring that
      &:hover .c-main-menu__item {
        & > .c-main-menu__link {
          opacity : 0.5;
        }

        & > .c-main-menu__expand-subnav {
          opacity : 0.5;
        }

        // Add hover state to links (when hovered) to display them
        &:hover {
          opacity : 1;

          & > .c-main-menu__link {
            opacity : 1;
          }

          & > .c-main-menu__expand-subnav {
            opacity : 1;

            .c-main-menu__minus-icon {
              display : block;
            }

            .c-main-menu__plus-icon {
              display : none;
            }
          }
        }
      }
    }
  }

  &__content-top {
    display : none;

    @include media('<large-desktop') {
      align-items     : center;
      display         : flex;
      justify-content : space-between;
      padding         : var(--space-l) 0 36px $gutter--mobile;

      .o-button {
        margin : 0 $gutter--mobile;
      }
    }
  }

  &__content-inner {
    @include media('<large-desktop') {
      display        : flex;
      flex-direction : column-reverse;
      padding        : $gutter--mobile;
    }
  }

  &__top {
    align-items     : center;
    display         : flex;
    justify-content : flex-end;
    margin-bottom   : var(--space-l);

    @include media('<large-desktop') {
      align-items     : flex-start;
      flex-direction  : column;
      justify-content : flex-start;
      margin-top      : 52px;
      width           : 100%;
    }
  }

  &__buttons {
    display     : flex;
    margin-left : var(--space-l);

    @include media('<large-desktop') {
      display : none;
    }
  }

  &__button {
    @include o-button($background-color : $mid-grey, $color : $dark-green);
    background-color : transparent;

    @include media('<large-desktop') {
      @include o-button($background-color : $dark-green, $color : $bright-green);
    }

    &:nth-child(n+2) {
      margin-left : var(--space-m);
    }

    &--search {
      @include o-button($background-color : $mid-grey, $color : $dark-green, $icon : true);
      background-color : transparent;
    }
  }

  &__burger {
    display : none;

    @include media('<large-desktop') {
      display : block;
      padding : $gutter--mobile;
    }
  }

  &__burger-icon {
    &--close {
      color : $bright-green;
    }
  }

  &.is-sticky {
    background-color : $dark-green;
    color            : $bright-green;
    position         : fixed;
    visibility       : visible;

    @include media('<large-desktop') {
      background-color : $mid-grey;
      color            : $dark-green;
    }

    .user-logged-in & {
      top : 78px;
    }

    #{$c}__logo-icon-sticky {
      display : block;
    }

    #{$c}__logo-icon-shapes {
      display : none;
    }

    #{$c}__button {
      background-color : $dark-green;
      border-color     : $bright-green;
      color            : $bright-green;

      &:hover, &:focus {
        background-color : $bright-green;
        border-color     : $bright-green;
        color            : $dark-green;
      }
    }
  }

  .user-logged-in & {
    top : 114px;

    @include media('<desktop') {
      top : 75px;
    }
  }

  &.is-hidden {
    transform : translateY(-100%);
  }

  &.no-transition {
    transition : none;
  }
}
