.c-main-menu {
  $c      : &;
  display : flex;

  @include media('<large-desktop') {
    display : block;
  }

  &__item {
    color       : inherit;
    font-size   : 0;
    margin-left : var(--space-l);
    position    : relative;

    @include media('>large-desktop') {
      &:hover {
        & > #{$c}__link {
          padding-bottom: 1px;
          background-size : 100% 1px;
        }

        & > #{$c}__sub-menu {
          @include z-index(sub-menu);
          display : block;

          #{$c}__link {
            opacity : 1;
          }
        }
      }

      &:last-child {
        #{$c}__sub-menu {
          left  : initial;
          right : 0;
        }
      }
    }

    @include media('<large-desktop') {
      color       : $bright-green;
      margin-left : 0;
    }
  }

  &__link {
    @include link();
    @include ts-nav-large;
    display        : inline-block;
    padding-bottom : var(--space-xxs);

    @include media('<large-desktop') {
      padding : var(--space-xs) 0;
    }
  }

  &__sub-menu {
    @include z-index(sub-menu);
    background-color : $bright-green;
    box-sizing       : border-box;
    color            : $dark-green;
    flex-direction   : column;
    padding          : var(--space-s) 18px;
    position         : absolute;
    width            : 260px;
    top              : 34px;

    .js & {
      display : none;
    }

    @include media('<large-desktop') {
      background-color : transparent;
      position         : static;
      width            : 100%;
    }

    #{$c}__item {
      margin-left : 0;

      &:nth-child(n + 2) {
        margin-top : var(--space-m);
      }
    }

    #{$c}__link {
      display : inline;

      @include media('<large-desktop') {
        padding : var(--space-xs) 0;
      }
    }

    &:before {
      background-color : transparent;
      content          : '';
      display          : block;
      height           : var(--space-s);
      left             : 0;
      position         : absolute;
      top              : -12px;
      width            : 100%;

      @include media('<large-desktop') {
        display : none;
      }
    }
  }

  &__expand-subnav {
    align-items     : center;
    display         : inline-flex;
    height          : 9px;
    justify-content : center;
    margin-top      : -8px;
    padding-left    : var(--space-xxs);

    @include media('<large-desktop') {
      padding : var(--space-xs) var(--space-s);
    }

    &.is-open {
      #{$c}__minus-icon {
        display : block;
      }

      #{$c}__plus-icon {
        display : none;
      }
    }
  }

  &__minus-icon {
    display : none;
  }

  &--supplementary {
    #{$c}__link {
      @include ts-nav-small;
    }
  }
}
