.c-page-links {
  $c    : &;
  color : $dark-green;

  &__blocks {
    display               : grid;
    grid-column-gap       : $gutter;
    grid-row-gap          : var(--space-xl);
    grid-template-columns : repeat(2, 1fr);
  }

  &__block-title {
    @include ts-heading-3;
    @include link;
  }

  &__block {
    background-color : $bright-green;
    box-sizing       : border-box;
    display          : flex;
    flex-direction   : column;
    justify-content  : space-between;
    min-height       : 268px;
    padding          : var(--space-m);

    &:hover, &:focus {
      #{$c}__block-title {
        background-size : 100% 1px;
      }
    }

    @include media('<tablet') {
      min-height : 216px;
    }
  }

  &__block-arrow {
    margin-top : var(--space-m);
  }

  /* Layouts
  ================================================== */
  &--one-third {
    #{$c}__blocks {
      grid-template-columns : repeat(3, 1fr);

      @include media('<tablet') {
        grid-template-columns : 100%;
      }
    }
  }

  &--half {
    #{$c}__blocks {
      grid-template-columns : repeat(2, 1fr);

      @include media('<tablet') {
        grid-template-columns : 100%;
      }
    }

    #{$c}__block {
      min-height : 311px;

      @include media('<tablet') {
        min-height : 216px;
      }
    }
  }
}
