.c-page-header {
  align-items      : flex-end;
  background-color : $mid-grey;
  box-sizing       : border-box;
  color            : $white;
  display          : flex;
  min-height       : 550px;
  position         : relative;
  padding-bottom   : var(--space-2xl);
  padding-top      : calc(157px + 80px); // Header + spacing

  @include media('<tablet') {
    padding-top : calc(80px + 48px);
  }

  &__inner {
    @include grid;
  }

  &__image-container {
    height   : 100%;
    position : absolute;
    top      : 0;
    width    : 100%;

    img {
      @include object-fit(cover);
      height   : 100%;
      position : absolute;
      width    : 100%;
    }

    // Overlay
    &:after {
      background-color : $black;
      content          : '';
      display          : block;
      opacity          : 0.35;
      height           : 100%;
      position         : relative;
      width            : 100%;
    }
  }

  &__content-container {
    position : relative;
  }

  &__content {
    grid-column : 1/9;

    @include media('<desktop') {
      @include full-width-grid
    }
  }

  &__title {
    @include ts-heading-2;
  }

  &__standfirst {
    @include ts-description;
    margin-top : var(--space-m);

    p {
      @include ts-description;
    }

    a {
      @include link-gradient(2px);
    }
  }

  &--no-image {
    color      : $dark-green;
    min-height : auto;
  }
}
