.c-pager {
  $c              : &;
  align-items     : center;
  padding-top     : var(--space-2xl);
  display         : flex;
  justify-content : center;

  &__items {
    align-items : center;
    color       : $dark-green;
    display     : flex;
    position    : relative;
  }

  &__button {
    &--ellipsis {
      @include ts-pagination;
      padding : 0 6px;
    }
  }

  &__button-link {
    @include ts-pagination;
    padding    : 0 var(--space-xxs);
    transition : color 0.3s;

    &:hover, &:focus,
    &.is-active {
      #{$c}__button-link-text {
        border-bottom : 1px solid $dark-green;
      }
    }

    &--first {
      margin-right : var(--space-xs);
    }

    &--prev {
      margin-right : var(--space-xxs);
    }

    &--next {
      margin-left : var(--space-xxs);
    }

    &--last {
      margin-left : var(--space-xs);
    }

    &--icon {
      @include o-button($color : $dark-green, $background-color : $light-grey, $icon : true);
      height  : 24px;
      padding : 0;
      width   : 24px;

      &.is-inactive {
        background-color : rgba($primary, 0.4);
        cursor           : default;
        pointer-events   : none;
      }
    }
  }

  &__icon {
    flex-shrink : 0;

    &--next, &--last {
      transform : rotate(180deg) translateX(-1px);
    }

    &--prev, &--first {
      transform : translateX(-1px);
    }
  }
}
