.c-subpage-navigation {
  $c               : &;
  background-image : linear-gradient(to left, $bright-green, $blue);
  padding          : var(--space-xl) 0;

  @include media('<desktop') {
    padding : var(--space-m) 0;
  }

  @include media('<tablet') {
    padding : 0;
  }

  &__list {
    display        : flex;
    flex-direction : row;
    flex-wrap      : wrap;

    @include media('<desktop') {
      flex-wrap   : nowrap;
      margin-left : 0;
      overflow-x  : auto;
      padding     : var(--space-m) 0 var(--space-m) 0;
      white-space : nowrap;
      width       : calc(100% + 32px);
    }

    @include media('<tablet') {
      width : calc(100% + 16px);
    }

    &:hover #{$c}__list-item-link,
    &:focus-within #{$c}__list-item-link {
      opacity : 0.5;

      @include media('<tablet') {
        opacity : 1;
      }

      // Add hover state to links (when hovered) to display them
      &:hover, &:focus {
        opacity : 1;
      }
    }
  }

  &__list-item {
    margin-right : var(--space-l);
  }

  &__list-item-link {
    @include ts-nav-large;
    @include link;
  }
}
