.c-text-block {
  &__container {
    @include grid;
  }

  &__content {
    grid-column : 1 / 9;

    @include media('<tablet') {
      @include full-width-grid;
    }
  }

  &__sidebar {
    grid-column : 11 / 13;

    @include media('<desktop') {
      grid-column: 1/7;
    }

    @include media('<tablet') {
      @include full-width-grid;
    }
  }

  &__sidebar-title {
    @include ts-credit;
    border-top    : 1px solid $dark-grey;
    margin-bottom : var(--space-l);
    padding-top   : var(--space-xs);
  }

  /* Modifiers
  ================================================== */
  .c-node--type-content-item &__content {
    grid-column : 3 / 11;

    @include media('<desktop') {
      grid-column : 1 / 13;
    }

    @include media('<tablet') {
      @include full-width-grid;
    }
  }
}
